@charset "UTF-8";
/*Todas as demais midias */
/*Typical device Breakpoints - AULA 08
=============================
PEQUENAS TELAS: Até 600px;
Celular:600px até 768 px;
Tablet:768px até 992px;
Desktop-PC: 992px até 1200px;
GRANDES TELAS: ACIMA DE 1200PX;
*/
@media print{ /*IMPRESSÃO*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../Imagens/back-print.jpg);/*DESNECESSÁRIO, POIS NÃO IMPRIME BACKGROUND*/
        /*SÓ Q EU QUERO DAR UMA CARINHA BONITINHA PARA A IMPRESSORA:*/
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv{display: none;}
}
/*----------------------------------------------------------------------------------------------------
@media screen and (max-width:600px){

}

@media screen and (min-width: 600px) and (max-width:768px){

}*/
/*Como eu já configurei primeiro a versão mobile first, dispositivos pequenos, aqui no meida query eu posso simplesmente ignorar estas configurações.
------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 992px){ /*TABLLET*/
    body{
        background-image: url(../Imagens/back-tablet.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width:1200px){ /*DESKTOP*/
    body{
        background-image: url(../Imagens/back-pc.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px){ /*GRANDES TELAS*/
    body{
        background-image: url(../Imagens/back-tv.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv{display: block}
}
